body{
    padding: 0.5rem 1rem;
    font-size: larger;
    font-family: system-ui, sans-serif;
    background-color: #f4f4ef;
    background-image: url("./icons/wave.png");
    background-size: 2rem;
    user-select: none;
    overflow: hidden;
}

#main{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

math-field, textarea{
    user-select: all;
}

details{
    width: 100%;
    padding: .1rem;
}

summary{
    font-size: small;
    margin-bottom: 0.25rem;
}

textarea{
    width: -webkit-fill-available;
    resize: vertical;
}

#formula{
    width: -webkit-fill-available;
}

#btn_root{
    margin: 0.5rem 0 0 0.5rem;
}

.btn{
    width: 2rem;
    display: inline-block;
    height: 2rem;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

summary:hover,.btn:hover{
    cursor: pointer;
    background-color: #00000015;
}

#btn_copy_png{
    background-image: url("./icons/copy_png.png");
}

#btn_save_png{
    background-image: url("./icons/save_png.png");
}

#btn_save_svg{
    background-image: url("./icons/save_svg.png");
}

#history{
    flex: 1;
    margin-bottom: 2rem;
    display: contents;
}

#history_scroller{
    overflow-y: auto;
    margin: 0 0 2rem 0;
}

#history_list{
    list-style-type: none;
    counter-reset: i;
    display: flex;
    flex-direction: column-reverse;
}

#history_btn_root{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#history_list>div{
    padding: 0.25rem;
    display: flex;
    align-items: center;
}

#history_list>div:before{
    counter-increment: i;
    content: counter(i);
    font-size: small;
    margin-right: 1rem;
    border-bottom: 1px solid black;
}

#history_list>div:nth-child(2n)
{
    background-color: #0000000a;
}

#history_list>div:hover{
    background-color: #0000001b;
    cursor: pointer;
    transition: background-color 0.1s;
}

.history_li_formula{
    width: 100%;
}

#btn_clear_history{
    background-image: url("./icons/delete.png");
    width: 1.2rem;
    height: 1.2rem;
    opacity: 0.8;
}

#btn_clear_history:hover{
    opacity: 1;
}

.btn_clear_small{
    background-image: url("./icons/delete.png");
    width: 0.8em;
    height: 0.8em;
    opacity: 0.15;
    transition: opacity 0.2s;
}

#history_list>div:hover>.btn_clear_small{
    opacity: 1;
}

#history_list:empty + div #btn_clear_history{
    display: none;
}

#feedback{
    width: 100%;
    padding: 0.25rem 0 0.25rem 1rem;
    opacity: 0;
    font-size: small;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF99;
}